# Compiled files
*.pyc
__pycache__/

# Log files
*.log

# Build files
build/
dist/
*.egg-info/

# IDE files
.idea/
.vscode/

# Pygame-specific files
*.bmp
*.png
*.wav
*.ogg
*.mp3
*.ttf
*.otf
*.woff
*.woff2
